@model List<Product>
@{

	string title = "Product " + ViewBag.Action;
	ViewData["Title"] = title;

}

<h1>@ViewBag.Title</h1>

<div class="p-0">
	<table class="table table-striped table-bordered">
		<thead>
			<tr><th>Code</th><th>Name</th><th>Price</th><th>Release Date</th><th></th><th></th></tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.ProductCode</td>
					<td>@product.Name</td>
					<td>@product.YearlyPrice</td>
					<td>@product.ReleaseDate</td>
					<td><a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductID" asp-route-slug="@product.Slug" class="btn btn-primary">Edit</a></td>
					<td><a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductID" asp-route-slug="@product.Slug" class="btn btn-primary">Delete</a></td>
				</tr>
			}

		</tbody>
	</table>
	<a asp-controller="Product" asp-action="Add" class="btn btn-primary">Add</a>

</div>
